<style>
    body{
    background-color: 	rgb(24,24,24);
}
/* Increase the height of the navbar */
.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Center navbar items horizontally and vertically */
.navbar .nav {
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Increase space between nav items */
.navbar .nav-item {
  margin: 0 1rem;
}

/* Optional: Increase font size for better spacing effect */
.navbar .nav-link {
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
}
.nav-link{
    opacity: 0.75;
}
.nav-link:hover{
    opacity: 1;
    transform: scale(1.1);
}


</style>

<nav class="navbar navbar-expand-md bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
            </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/edu"><i class="fa-solid fa-graduation-cap"></i> Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects"><i class="fa-solid fa-diagram-project"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/skills"><i class="fa-solid fa-microchip"></i> Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-user"></i> About</a>
          </li>
          <li class="last-icons">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://github.com/Varshith-07" target="_blank"><i class="fa-brands fa-github"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://www.linkedin.com/in/varshith-naidu-9076b4255/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>